* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.header {
  display: flex;
  flex-direction: row;
}

.weather {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-around;
  padding: 10px 0;
}

.classco {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
}
.weather-color {
  color: white;
  text-decoration: none;
}

.weather-colors {
  color: white;
}

.social-media {
  color: white;
}

.World {
  color: black;
  text-align: left;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navbar {
  background-color: rgb(236, 182, 182);
  width: 100%;
  height: 80px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 40px;
  height: 71px;
  align-content: center;
  text-decoration: none;
  align-items: center;
  width: 80%;
  margin: auto;
  color: black;
}

.img {
  width: 750px;
  height: 100px;
}

/* ----------Stories------------ */
.stories {
  display: grid;
  grid-template-columns: 5fr 3fr;
  column-gap: 30px;
}

.top-story {
  background-image: url("./image/mnd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  
  
}
.headline {
  padding: 20px;
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;

}

.bite {
  margin-top: 20px;
}

.sub-stories {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
.sub-story {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.category {
  font-size: 0.8rem;
  padding: 10px;
  background-color: #f4ffd5;
  color: black;
}

.side-stories {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.side-story {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(247, 226, 226);
}
.side-story-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 1rem;
}

.body-container {
  margin-left: 40px;
  margin-right: 40px;
  /* background-color: red; */
}

.trending-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.trending-container p {
  margin-left: 40px;
  margin-top: 10px;
}

.trending-button {
  width: 130px;
  color: white;
  background-color: red;
  height: 35px;
  border: none;
  border-radius: 10px;
}

.class3 {
  width: 35%;
}

.class3 img {
  width: 100%;
  height: 100%;
}
.class1 {
  width: 100%;
  height: 100%;
  background-image: url("./image/mnd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
}

.class1 h1 {
  color: white;
  padding-top: 20px;
}

.btn {
  width: 100px;
  color: black;
  background-color: white;
  height: 30px;
  border: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.story.items {
  display: flex;
  flex-direction: row;
}



  #features {
  display: flex;
  justify-content: space-evenly;
  margin: 8rem 0;
  padding: 0 10rem;
  column-gap: 3rem;
}
.feature-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.feature-list li {
  display: flex;
  column-gap: 20px;
}
.feature-title {
  font-size: 30px;
  color: blue;
} 


.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: center;
}

#copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.About-us {
  margin: 5px;
  width: 25%;
}

.items {
  width: 25%;
  justify-content: space-evenly;
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

}

.footer-links a {
  color: white;
}

.footer-icons {
  display: flex;
  column-gap: 20px;
}
.footer-icons i {
  cursor: pointer;
}

footer {
  background-color: #333;
  padding: 3rem 0;
}

footer h3 {
  margin-bottom: 20px;
}

.newsletter-input {
  display: flex;
  border-radius: 20px;
  border: 1px solid gray;
}

footer input {
  border: none;
  padding: 10px 10px;
  background-color: transparent;
}

footer button {
  padding: 0 10px;
  background-color: green;
  color: white;
  cursor: pointer;
}


